<header class="navbar navbar-default navbar-fixed-bottom">
  <ul class="nav nav-tabs">
    <li><%= link_to "Fanduel", 'https://www.fanduel.com/', id: "logo" %></li>
    <li><%= link_to "DraftKings", "https://www.draftkings.com/" %></li>
    <li><%= link_to "Authored by Everton Gardiner", "https://github.com/eagardi" %></li>
  </ul>
</header>
