<header class="navbar navbar-default navbar-fixed-bottom">
  <ul class="nav navbar-nav">
    <li><%= link_to "Fanduel", 'https://www.fanduel.com/', id: "logo" %></li>
    <li><%= link_to "DraftKings", "https://www.draftkings.com/" %></li>
    <li><%= link_to "Created by Everton Gardiner", "#" %></li>
  </ul>
</header>
