<div class="jumbotron">
 
 <div class="title">
    <h1>Fantasy Sports Talk</h1>
</div>
    <a style="display:block" href="http://www.dailyfantasysportsrankings.com/">
 

    <div class="daily"style="color:none">
        
     </div>
        
</a>
<a style="display:block" href="https://www.fanduel.com/">
 

    <div class="fanduel"style="color:none">
        
     </div>
        
</a>
</div>

