<header class="navbar navbar-fixed-top navbar-inverse">
  <ul class="nav navbar-nav">
    <li><%= link_to "FanTBlog", '#', id: "logo" %></li>
    <li><%= link_to "About", "#" %></li>
    <li><%= link_to "Contact", "#" %></li>
  </ul>
    
  <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Log out", '#' %></li>
  </ul>
</header>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    ...
  </div>
</nav>
